[submodule "spring-medicines"]
	path = spring-medicines
	url = https://github.com/Greem4/spring-medicines.git
	branch = stable
[submodule "spring-frontend"]
	path = spring-frontend
	url = https://github.com/Greem4/spring-frontend.git
	branch = stable